/* ============== GENERAL ============== */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-size: 14px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: rgb(243, 243, 243);
  --bg-light-color: rgb(254, 252, 252);

  --primary-color: rgb(0, 149, 246);
  --primary-color-blur: rgba(0, 148, 246, 0.815);

  --lightgray: rgb(160, 160, 160);
  --logo-color: #231e1f;
  --logo-color-blur: rgba(36, 30, 32, 0.815);
  --text-color: rgb(0, 0, 0);

  --border-color: rgb(211, 211, 211);
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: var(--bg-color);

  display: flex;
  justify-content: center;

  transition: background 0.2s linear;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;

  width: 60%;
  height: 100vh;
}

/* ============== PHONE INTERFACE ============== */
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}

.instagram-phone img {
  height: 40rem;
}

/* ============== CONTINUE ============== */
.continue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-light-color);
  border: 1px solid var(--border-color);

  width: 100%;
  padding: 1.3rem 0;
}

.mode-container {
  align-self: flex-end;

  cursor: pointer;

  margin-right: 2rem;
}

.toggle-mode {
  opacity: 0;
  position: absolute;
}

.toggle-mode-label {
  background-color: var(--bg-color);
  border-radius: 50px;
  border: 0.5px solid var(--border-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  padding: 5px;
  width: 50px;
  height: 26px;

  transform: scale(1.3);
}

.toggle-mode-label .ball {
  background-color: var(--text-color);
  position: absolute;

  border-radius: 50%;
  top: 2px;
  left: 2px;

  width: 20px;
  height: 20px;

  transform: translateX(0px);
  transition: transform 0.2s ease-in-out;
}

.toggle-mode:checked + .toggle-mode-label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* ============== CONTINUE AS OR REMOVE ============== */
.group:nth-child(1) {
  min-height: 19rem;

  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.instagram-logo svg {
  width: 14rem;
  height: 4rem;
}

.instagram-logo svg path {
  fill: var(--logo-color);
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 50%;
}

.profile-photo img {
  height: 6rem;
}

/* ============== LOGIN OR LOGGOUT ============== */
.instagram-login {
  color: #fff;
  background-color: var(--primary-color);

  padding: 8px;
  border-radius: 4px;
  margin-top: 1rem;
}

.instagram-login:hover {
  background-color: var(--primary-color-blur);
}

.instagram-loggout {
  color: var(--primary-color);
  margin-top: 1rem;
}

.instagram-loggout:hover {
  color: var(--primary-color-blur);
}

/* ============== NOT USER ============== */
.group:nth-child(2) {
  margin-top: 1rem;
}

.not-user {
  color: var(--lightgray);
}

.link-blue {
  color: var(--primary-color);
}

.link-blue:hover {
  color: var(--primary-color-blur);
}

/* ============== GET THE APP ============== */
.get-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1.3rem 0;
}

.get-app-text {
  color: var(--text-color);
}

.download-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  padding: 1rem;
}

.download-app {
  height: 3rem;
  width: 10rem;

  background-size: cover;
}

.download-app:nth-child(1) {
  background-image: url("./../img/applestore-button.png");
  border: none;
  border-radius: 10px;
}

.download-app:nth-child(2) {
  background-image: url("./../img/googleplay-button.png");
  border: none;
  border-radius: 10px;
}

/* ============== RESPONSIVE ============== */
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) or (max-height: 690px) {
  body {
    background-color: var(--bg-color);
  }

  .group {
    border: 1px solid var(--border-color);
  }

  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }

  .continue {
    width: 100%;
  }

  .download-buttons {
    display: flex;
    flex-direction: column;
  }

  .download-app {
    margin: 1rem;
  }
}
